*,
*:before,
*:after {
  box-sizing: border-box;
}

body {
  font-family: "Avenir", Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #3b4242;
}

html {
  font-size: 62.5%;
}

::-webkit-scrollbar {
  width: 1rem;
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 0.5rem #978b7d;
  border-radius: 0.5rem;
}

::-webkit-scrollbar-thumb {
  background: #faab31;
  border-radius: 0.5rem;
}
